include includes/html-body.pug
    table(cellspacing="0" cellpadding="0" border="0" width="100%")
      tr: td(style="padding: 0 20px")
        table(cellspacing="0" cellpadding="0" border="0" width="100%")
            tr
                td(style="font-weight:bold; padding-right:10px") Name:
                td #{name}
            tr
                td(style="font-weight:bold; padding-right:10px") Company:
                td #{company}
            tr
                td(style="font-weight:bold; padding-right:10px") Email:
                td #{email}
            tr
                td(style="font-weight:bold; padding-right:10px") Message:
                td #{message}
